#scorediv {
    background-color: rgb(226, 169, 84);
    height: 100px;
    width: 300px;
    align-self: center;
    position: fixed;
    border: black;
}


#score {
    box-shadow: lightpink;
    text-align: center;
    font-size: 50px;
    color: rgb(30, 30, 31);

}
