body {
  background-color: lightblue;
}

h1 {
  margin-left: 20px;
}

* {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.center {
  text-align: center;
}

.dark {
  background-color: #3a3d3b;
  color: lightblue;
}